$body-bg: rgb(16, 20, 23);
$body-color: rgb(167, 158, 139);
$headings-color: rgb(247, 142, 102);
$link-color: rgb(128, 182, 204);
// $btn-default-color: rgb(167, 158, 139);
// $enable-rounded: false;
$theme-colors: (
  "primary": rgb(32, 48, 64),
);
$primary: rgb(32, 48, 64);
$stroke-color: rgb(80, 115, 134);
$logo-primary: #0066c0;